body {
  display: none;
}

.title {
  text-shadow: 0 0 10px #55FFFF;
  font-family: tron, eduardobarrasa, Arial, Helvetica, sans-serif;
  font-size: 50pt;
}

.game-list {
  border-radius: 10px;
  border: 5px solid;
  padding: 10px;
  font-size: 18pt;
  background: rgba(0, 0, 0, 0.4);
}

.game-list th {
  color: rgb(212, 253, 255);
}

.game-list td {
  text-align: center;
  margin: 5px 10px 5px;
  padding: 0 25px 0;
}

.game-list td:first-child {
  user-select: text;
}

.player-count {
  text-align: center;
  font-size: 0;
}

.player-count span {
  font-size: 40pt;
}

.game-list .btn {
  width: 100%;
}

footer {
  color: lightgray;
  font-size: 10pt;
}

/* Mobile CSS */
@media screen and (max-width: 900px) {
  .title {
    font-size: 8vw;
  }

  .game-list {
    padding: 10px;
    font-size: 3vw;
  }

  .game-list td {
    text-align: center;
    margin: 0 10px 0;
    padding: 0 0px 0;
  }
  
  .player-count-icons span {
    font-size: 6vw;
  }

  .btn {
    font-size: 3vw;
  }

  footer {
    font-size: 1.5vw;
  }
}
