@font-face {
  font-family: tron;
  src: url('/static/fonts/tron/TRON.TTF');
}

@font-face {
  font-family: "eduardobarrasa";
  src: url("/static/fonts/eduardobarrasa/Eduardo-Barrasa.ttf");
}

body {
  display: none; /* It will be faded in by jQuery effects */
  color: white;
  font-family: eduardobarrasa, Arial, Helvetica, sans-serif;
  background-color: black;
}

/* https://css-tricks.com/snippets/css/transparent-background-images/ */
body::after {
  opacity: 0.05;
  background-image: url('/static/img/icon_16x16.png');
  background-repeat: repeat;

  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

h1, h2, h3 {
  font-family: tron, eduardobarrasa, Arial, Helvetica, sans-serif;
}

.btn {
  display: inline-block;
  background: rgba(0, 0, 0, .5);
  font-family: eduardobarrasa, Arial, Helvetica, sans-serif;
  border: 3px solid rgb(212, 253, 255);
  border-radius: 5px;
  box-shadow: 0 0 5px #55FFFF;
  color: rgb(212, 253, 255);
  cursor: pointer;
  font-size: 20pt;
  padding: 5px 8px;
  text-shadow: none;

  transition: box-shadow .4s ease, color .4s ease, text-shadow .4s ease;
}

.btn:hover {
  color: #AEEE72;
  border-color: #AEEE72;
  box-shadow: 0 0 10px #AEEE72;
  text-shadow: none;
}

a {
  color: #FFF2FF;
  text-decoration: none;
  text-shadow: 0 0 5px #1C01E0;
}

a:hover {
  color: #7A26BF;
  text-shadow: 0 0 5px #7A26BF;
}

a:active {
  color: #FFF2FF;
}

.no-select {
  /* https://stackoverflow.com/a/4407335/11138267 */
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.blue { color: #55FFFF; }
.blue-text-shadow { text-shadow: 0 0 5px #55FFFF; }
.blue-box { border-color: #55FFFF; box-shadow: 0 0 10px #55FFFF;}
.blue-light { color: #E6F5F5; }
.blue-light-text-shadow { text-shadow: 0 0 5px #55FFFF, 0 0 5px #55FFFF; }
.blue-light-box { border-color: #E6F5F5; box-shadow: 0 0 10px #55FFFF;}

.orange { color: #FCE100; }
.orange-text-shadow { text-shadow: 0 0 5px #FCE100; }
.orange-box { border-color: #FCE100; box-shadow: 0 0 10px #FCE100;}
.orange-light { color: #FDFEBB; }
.orange-light-text-shadow { text-shadow: 0 0 5px #FCE100, 0 0 5px #FCE100; }
.orange-light-box { border-color: #FDFEBB; box-shadow: 0 0 10px #FCE100;}

.green { color: #AEEE72; }
.green-text-shadow { text-shadow: 0 0 5px #AEEE72; }
.green-box { border-color: #AEEE72; box-shadow: 0 0 10px #AEEE72;}
.green-light { color: #DCFDE6; }
.green-light-text-shadow { text-shadow: 0 0 5px #AEEE72, 0 0 5px #AEEE72; }
.green-light-box { border-color: #DCFDE6; box-shadow: 0 0 10px #AEEE72;}

.purple { color: #7A26BF; }
.purple-text-shadow { text-shadow: 0 0 5px #7A26BF, 0 0 5px #7A26BF; }
.purple-box { border-color: #7A26BF; box-shadow: 0 0 10px #7A26BF;}
.purple-light { color: #FFF2FF; }
.purple-light-text-shadow { text-shadow: 0 0 5px #7A26BF, 0 0 5px #7A26BF, 0 0 5px #7A26BF; }
.purple-light-box { border-color: #FFF2FF; box-shadow: 0 0 10px #7A26BF;}
