body {
  display: none;
}

.title {
  text-shadow: 0 0 10px #55FFFF;
  color: rgb(212, 253, 255);
  font-family: tron, eduardobarrasa, Arial, Helvetica, sans-serif;
  font-size: 50pt;
}

table {
  border-radius: 10px;
  border: 5px solid rgb(212, 253, 255);
  box-shadow: 0 0 10px #55FFFF;
  padding: 10px;
  font-size: 18pt;
  background: rgba(0, 0, 0, 0.4);
}

th {
  color: rgb(212, 253, 255);
}

td {
  text-align: center;
  margin: 5px 10px 5px;
  padding: 0 25px 0;
}

.player-count-icons {
  text-align: center;
  color: rgb(212, 253, 255);
  font-size: 0;
}

.player-count-icons span {
  font-size: 40pt;
}

.player-count-icons :nth-child(1) {
  color: rgb(212, 253, 255);
  text-shadow: 0 0 5px #55FFFF;
}
.player-count-icons :nth-child(2) {
  color: #FDFEBB;
  text-shadow: 0 0 5px #FCE100;
}
.player-count-icons :nth-child(3) {
  color: #F9FEE5;
  text-shadow: 0 0 5px #AEEE72;
}
.player-count-icons :nth-child(4) {
  /* color: #EB05FE; */
  /* text-shadow: 0 0 5px #1C01E0; */
  color: #E3CBF5;
  text-shadow: 0 0 5px #EB05FE;
}

.status-waiting {
  color: #F9FEE5;
  text-shadow: 0 0 5px #AEEE72;
}

.status-in-progress {
  color: #FDFEBB;
  text-shadow: 0 0 5px #FCE100;
}

table button {
  width: 100%;
}

footer {
  color: lightgray;
  font-size: 10pt;
}

/* Mobile CSS */
@media screen and (max-width: 900px) {
  .title {
    font-size: 8vw;
  }

  table {
    padding: 10px;
    font-size: 3vw;
  }

  td {
    text-align: center;
    margin: 0 10px 0;
    padding: 0 0px 0;
  }
  
  .player-count-icons span {
    font-size: 6vw;
  }

  button {
    font-size: 3vw;
  }

  footer {
    font-size: 1.5vw;
  }
}
