<div class="container-fluid">
  <header>
    <div class="row d-flex justify-content-center">
      <span class="title no-select blue-light">SockeTron</span>
    </div>
    <div class="row d-flex justify-content-center mt-3 mb-3">
      <div class="col-12 d-flex justify-content-center">
        <a href="/game/create" class="ml-2 btn">Create New Game</a>
      </div>
    </div>
  </header>
  <section>
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <div class="table-responsive">
          <table class="table game-list blue-light blue-light-box">
            <thead>
              <tr>
                <th>Game</th>
                <th>Players</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Av3G</td>
                <td class="player-count no-select">
                  <span class="blue-light blue-light-text-shadow">●</span>
                  <span class="orange-light orange-light-text-shadow">●</span>
                  <span class="green-light green-light-text-shadow">●</span>
                  <span class="purple-light purple-light-text-shadow">●</span>
                </td>
                <td>
                  <span class="green">Waiting</span>
                </td>
                <td>
                  <a href="/game?=aaaa" class="btn blue-light blue-light-box">Join</a>
                </td>
              </tr>
              <tr>
                <td>5672</td>
                <td class="player-count no-select">
                  <span class="blue-light blue-light-text-shadow">○</span>
                  <span class="orange-light orange-light-text-shadow">○</span>
                  <span class="green-light green-light-text-shadow">○</span>
                  <span class="purple-light purple-light-text-shadow">○</span>
                </td>
                <td>
                  <span class="orange">In Progress</span>
                </td>
                <td>
                  <button class="btn btn-spectate">Spectate</button>
                </td>
              </tr>
              <tr>
                <td>Av3G</td>
                <td class="player-count no-select">
                  <span class="blue blue-text-shadow">●</span>
                  <span class="orange orange-text-shadow">●</span>
                  <span class="green green-text-shadow">●</span>
                  <span class="purple purple-text-shadow">●</span>
                </td>
                <td>
                  <span class="green-text">Waiting</span>
                </td>
                <td>
                  <a class="btn blue-light blue-light-box">Join</a>
                </td>
              </tr>
              <tr>
                <td>5672</td>
                <td class="player-count no-select">
                  <span class="blue blue-text-shadow">○</span>
                  <span class="orange orange-text-shadow">○</span>
                  <span class="green green-text-shadow">○</span>
                  <span class="purple purple-text-shadow">○</span>
                </td>
                <td>
                  <span class="orange">In Progress</span>
                </td>
                <td>
                  <button class="btn btn-spectate">Spectate</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="row d-flex justify-content-center mt-4">
      Made by g-otn 2020 -&nbsp;<a href="https://github.com/g-otn/SockeTron">GitHub</a>
    </div>
  </footer>
</div>