<!DOCTYPE html>
<html lang="en">
<head>
  <title>SockeTron</title>
<%- include('../partials/head_main') %>

  <!-- Page Styles-->
  <link rel="stylesheet" href="/static/css/game_list.css">
</head>

<body>
  <%- include('./body.ejs') %> 
</body>

<!-- Main scripts -->
<%- include('../partials/scripts_main') %>

<!-- Page Scripts -->
<script src="/static/js/game_list/game_list.js"></script>

</html>
